/* HTML TAGS */



body {
    position: relative; 
    font-family: "Lato", sans-serif;
    width: 100%;    
}

a{
  color: #16627C;
  text-decoration: none;  
}

ul{
  list-style-type: none;
}

ul .points:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url('../images/Point.png');
  background-repeat: no-repeat;
  margin-right: 5px;

}

.links{
  color: #16627C;
  text-decoration-line: underline;
}

a:hover {
  color: #22B2E7;
  text-decoration: none;  
}

/* Navigation Bar */

.navbar-inverse{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

/* on hover change color of main menu options */
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #FFFFFF;
  color: #000000;
}
/* end */


/* brand name */
.navbar-inverse .navbar-brand{
  color: #16627C;
}


/* brand name on hover */
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #000000;
}

/*
.navbar-inverse .navbar-brand :hover {
  color: #FFFFFF;
}
*/

/* color of main menu options */
.navbar-inverse .navbar-nav>li>a {
    color: #22B2E7;
}

/* color of sub menu options */
.dropdown-menu>li>a {
  color: #22B2E7;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #22B2E7;
}

/* Transcription - Translation Style */

.hidden {
  opacity: 0;
}

.console-container {
  font-family: "Lato", sans-serif;
  font-size: 4em;
  text-align: center;
  display: block;
  color: #FFFFFF;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
  color: #FFFFFF;
}

/* Key Bootstrap Modifications */

.jumbotron {
  width: 100%;
	height: 100vh;
	background-image: url('../images/iGem.gif');
	background-color: #f6f5e6;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.container {
	padding: 2%;
}

.row{
  padding: 1%;
  margin: 1%;
}

/* Text on the Landing Image within */

.highlight{
	background-color: #000000;
  background-color: transparent;
  width: 100%;
  padding: 3%;	
  height: 300px;
}

.highlight h1{
	color: #FFFFFF;
  color: #000000;
}

.highlight p{
	color: #FFFFFF;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* General - Images, Paragraphs, Headings, Subheadings */

#sponsors{
  background-color: #FFFFFF;
  padding: 1%;
}

#heading{
  color: #22B2E7;
  font-size: 2em;
  padding: 3%;
  letter-spacing: 0.4em;
  margin-top: 15%;
}

.subheading{
  color: #FFFFFF;
  margin: 2%; 
  letter-spacing: 0.2em;
}

.memberNames{
  color: #22B2E7;
}

.paragraphs{
  text-align: justify;
  line-height: 2em;
  padding: 2%;
  font-size: large;
}

.mainPoint{
  color: #22B2E7;
  font-weight: bold;
  font-size: x-large;
}

.points{
  line-height: 2em;
  padding: 2%;
  font-size: large; 
}

.text-center {
  text-align: center!important;
}

.sectionSpacing{
  padding: 1%;
}

.marginBottom{
  margin-bottom: 5%;
}

.contactIcons{
  color: #16627C;
}

.emailId{
  color: #16627C;
}

.auth{
  color: #16627C;
}

.sponsorLogos{
  width: 20%;
}

.sponsorMainLogos{
  width: 10%;
}

.memories{
  width: 35%;
}

.bioparkPics{
  width: 100%;
}

.schoolPics{
  width: 100%;
}

.omicsPics{
  width: 100%;
}

.industryPics{
  width: 100%;
}

.meetUpPics{
  width: 100%;
}

.doodle{
  width: 25%;
}

.blueNote{
  background-color: #16627C;
}

/* Images in insilico Analysis */
.optimisationPicture{
  width: 50%;
}

.RNAPicture{
  width: 50%;
}
/* end */

.circuitDiagrams{
  width: 50%;
}

.flowchartDiagram{
  width: 70%;
}

.graphDiagrams{
  width: 50%;
}

.tableDiagrams{
  width: 50%;
}

/*

#change{
    transition: opacity 0.5s linear;
}

*/

/* Team Member - Bitmoji/Photo + Bubble */

.box {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.box:hover .overlay {
  height: 100%;
}

.text {
  width : 100%;
  white-space: nowrap; 
  padding: 0px;
  color: white;
  font-size: 70px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.talking{
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: small;
  text-overflow: hidden;
  text-align: justify;  
}


.speech-bubble {
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  width: 100%;
  padding: 4%;
}

.bubbleLeftLightBlue :after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-right-color: #22B2E7;
  border-left: 0;
  border-top: 0;
  margin-top: -8px;
  margin-left: -16px;
}  

.bubbleRightLightBlue :after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: #22B2E7;
  border-right: 0;
  border-top: 0;
  margin-top: -8px;
  margin-right: -16px;
}

.bubbleLeftSeaBlue :after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-right-color: #16627C;
  border-left: 0;
  border-top: 0;
  margin-top: -8px;
  margin-left: -16px;
}  

.bubbleRightSeaBlue :after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: #16627C;
  border-right: 0;
  border-top: 0;
  margin-top: -8px;
  margin-right: -16px;
}

.LightBlueBubble {
  background-color: #22B2E7;
}

.SeaBlueBubble {
  background-color: #16627C;
}

/* Go to Top of Page */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
}

#myBtn:hover {
  background-color: transparent;
}

.arrowHead {
  color: #16627C; 
}

.arrowHead:hover {
  color: #22B2E7; 
}

.miniNav {
  font-size: large;
  letter-spacing: 0.1em;
}

.miniNavSeperator{
  color: #22B2E7; 
}


@media (min-width: 600px){

.highlight{
  width: 35%;
}

#heading{
  color: #22B2E7;
  font-size: 4em;
  padding: 3%;
  letter-spacing: 0.4em;
  margin-top: 6%;  
}
.sponsorLogos{
  width: 100%;
}

.sponsorMainLogos{
  width: 50%;
}
}